.container {
max-width: 60em;
margin: 100px auto;

}
.container .toDoApp {
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 10px 10px 18px -7px rgba(143,140,143,0.68);
}

.App-logo {
  width: 160px;
  text-align: center;
}
.App-logo img {
  width: 100%;
  margin-left: 20px;
}
.inputWrapper {
  padding: 20px;
}
.inputWrapper>input {
  width: 90%;
  margin: 0 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(249, 108, 112);
}

.inputWrapper li{
  padding: 5px;
}

.inputWrapper li button{
  float: right;
  background: white;
  border-radius: 4px;
  color: rgb(217, 217, 229);
  text-decoration: none;
  outline: none;
  border: 0.5px solid rgb(217, 217, 229);
}
